<div class="container">
  <div class="row">
    <div class="col">
      <h1>Sobre Nós</h1>
    </div>
    <div class="row">
      <h4>Sobre a empresa</h4>
      <p>
        A Goccia di Vino é uma empresa de e-commerce com foco na venda de
        fermentados da família do vinho, com o objetivo de oferecer comodidade,
        grande experiência e diversidade de produtos dentro de nossa plataforma
        web.
      </p>
    </div>
    <div class="row">
      <h4>Missão</h4>
      <p>
        Buscamos cativar nosso público com uma experiência ímpar dentro de nossa
        plataforma visando um atendimento diferenciado, produtos da mais alta
        qualidade e facilidade de navegação, que somados nos tornam referência
        dentro do mercado de vinhos.
      </p>
    </div>
    <div class="row">
      <h4>Visão</h4>
      <p>
        Alinhados com nossos valores de responsabilidade, transparência,
        comprometimento com o cliente (colocando-o em primeiro lugar) e honrando
        todos os compromissos assumidos, formamos as bases de nossa empresa.
      </p>
    </div>
    <picture>
      <img src="fluxogram" alt="Imagem do fluxograma da empresa">
    </picture>
  </div>
</div>
