.bg-color{
    background-color: #2d102c;
    border-radius: 4px;
}
.bg-main{
    background-color: #ccc;
    
}
.list-side{
    margin: 0 0 10px 10px;
    text-decoration: none;
    font-size: 1.15em;
    color: #000
}

.list-side:hover{
    background-color: #DCDCDC;
}