<div class="container g-0">
  <div class="row row-cols-1 g-0">
    <section class="col g-0 bg-main">
      <div>
        <h5 class="bg-color p-2 text-white bg-opacity-25">Busca</h5>
      </div>
      <div class="p-2 my-3">
        <input type="text" placeholder="Digite aqui ..." class="p-1" />
        <button type="button" class="btn btn-primary ms-2">Pesquisar</button>
      </div>
      <div>
          <h5 class="bg-color p-2 text-white bg-opacity-25">Vinhos</h5>
        </div>
        <div class="list-group">
          <a href="#" class="list-side">Tinto</a>
          <a href="#" class="list-side">Suave</a>
          <a href="#" class="list-side">Branco</a>
          <a href="#" class="list-side">Rosé</a>
          <a href="#" class="list-side">Bordo</a>
          <a href="#" class="list-side">Espulmantes</a>
          <a href="#" class="list-side">Doces</a>
                   
        </div>
    </section>
    
    
  </div>
</div>
