<div class="container">
  <div class="row">
    <div class="col">
      <h1>Home</h1>
    </div>
    <div class="row">
      <p>
        What you'll learn There is more to routing in Angular than just moving
        the user between multiple views of an application. In this course,
        Angular Routing, you'll discover how to define multiple routes and pass
        data to routes. Next, you'll explore how to preload data for your views
        and group your routes. Then, you'll learn how to guard your routes.
        Finally, you'll go through how to add styling and animation, and even
        improve performance by asynchronously loading your routes. When you are
        finished with this course, you'll have the knowledge you need to
        leverage more sophisticated routing features and support more real-world
        routing scenarios.
      </p>
    </div>
  </div>
</div>
